@model DataObjects.RubricVM

@{
    ViewBag.Title = "Rubric Detail";
}
<div class="row-height-50"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Rubric List", "RubricList", "Rubric", routeValues: null, htmlAttributes: new { @class = "breadcrumb-item" })</li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</nav>


<div class="row">
    <h2 class="card-header">@Html.DisplayFor(model => model.Name)</h2>
    <div class="card">

        <div class="card-body">
            <div class="d-inline-flex card-subtitle mt-2">
                <p class="me-2 text-black-50">Created:</p>
                <p class="me-2 text-black-50">@Html.DisplayFor(model => model.DateCreated)</p>
                <p class="me-2 text-black-50">|</p>
                <p class="me-2 text-black-50">Updated:</p>
                <p class="me-2 text-black-50">@Html.DisplayFor(model => model.DateUpdated)</p>
            </div>
            <h6 class="card-text">Description:</h6>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            <div class="d-inline-block">
                <h6 class="card-text">Score Type:</h6>
                <p class="card-text">@Html.DisplayFor(model => model.ScoreTypeID)</p>
            </div>

        </div>
        <div class="row card-footer">
            <span class="col-2">
                @Html.ActionLink("Edit", "Edit", "Rubric", new { rubricID = Model.RubricID }, new { @class = "card-link" })
            </span>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Facet Name</th>
                @foreach (var value in Model.FacetCriteria.ElementAt(0).Value)
                {
                    <th>@value.Score Points</th>
                }
            </tr>
        </thead>
        @foreach (var facet in Model.FacetCriteria)
        {
            <tr>
                <td class="text-primary">@facet.Key.FacetID</td>
                @foreach (var criteria in facet.Value)
                {
                    <td>
                        <span class="text-info text-sm-start me-1 d-block d-sm-none"> @criteria.Score</span>
                        @criteria.Content
                    </td>
                }
            <td>
                @*<button type="button" class="btn btn-outline-dark"><i class="bi bi-pencil"></i></button>*@
                @Html.ActionLink("Edit", "Edit", "Facet", new { rubricID = Model.RubricID, facetID =facet.Key.FacetID }, new { @class = "btn btn-outline-dark" })
            </td>
            </tr>
        }
    </table>
</div>