@*@model DataObjects.RubricVM*@
@model RubricMVC.Models.RubricModelView

@{
    ViewBag.Title = "Rubric Detail";
}
<div class="row-height-50"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Rubric List", "RubricList", "Rubric", routeValues: null, htmlAttributes: new { @class = "breadcrumb-item" })</li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</nav>


<div class="row">
    <h2 class="card-header">@Html.DisplayFor(model => model.Name)</h2>
    <div class="card">

        <div class="card-body">
            <div class="d-inline-flex card-subtitle mt-2">
                <p class="me-2 text-black-50">Created:</p>
                <p class="me-2 text-black-50">@Html.DisplayFor(model => model.DateCreated)</p>
                <p class="me-2 text-black-50">|</p>
                <p class="me-2 text-black-50">Updated:</p>
                <p class="me-2 text-black-50">@Html.DisplayFor(model => model.DateUpdated)</p>
            </div>
            <h6 class="card-text">Description:</h6>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            <div class="d-inline-block">
                <h6 class="card-text">Score Type:</h6>
                <p class="card-text">@Html.DisplayFor(model => model.ScoreTypeID)</p>
            </div>

        </div>
        <div class="row card-footer">
            <span class="col-2">
                @if (Model.CanEdit)
                {
                    @Html.ActionLink("Edit", "Edit", "Rubric", new { rubricID = Model.RubricID }, new { @class = "btn btn-dark" })
                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger">Delete</button>
                }

            </span>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Facet Name</th>

                @*@foreach (var value in Model.FacetCriteria.ElementAt(0).Value)
                    {
                        <th>@value.Score Points</th>
                    }*@

                @for (int i = 1; i < Model.NumberOfCriteria + 1; i++)
                {
                    <th>Criteria @i</th>
                }
            </tr>
        </thead>
        @foreach (var facet in Model.FacetCriteria)
        {
            <tr>

                <td class="text-primary">@facet.Key.FacetID</td>
                @foreach (var criteria in facet.Value)
                {
                    <td>
                        <span class="text-info text-sm-start me-1 d-block"> @criteria.Score pts</span>
                        @criteria.Content
                    </td>
                }

            <td>
                @*<button type="button" class="btn btn-outline-dark"><i class="bi bi-pencil"></i></button>*@

                    @if (Model.CanEdit)
                    {

                        @Html.ActionLink("Edit", "Edit", "Facet", new { rubricID = Model.RubricID, facetID = facet.Key.FacetID }, new { @class = "btn btn-outline-dark" })
                        @Html.ActionLink("Delete", "Delete", "Facet", new { rubricID = Model.RubricID, facetID = facet.Key.FacetID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Are sure want to delete?');" })
                    }


            </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Add", "Edit", "Facet", new { rubricID = Model.RubricID, facetID = "new" }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    </table>
</div>




<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to delete this rubric? You will have to contact administration to restore.</p>
            </div>
            <div class="modal-footer">

                @Html.ActionLink("Confrim", "Deactivate", "Rubric", new { rubricID = Model.RubricID }, new { @class = "btn btn-danger" })
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>